
server:
  port: 8160

spring:
  application:
    name: service-ucenter
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql:// 127.0.0.1:3306/guli?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false&serverTimezone=GMT&allowPublicKeyRetrieval=true
    username: root
    password: huangyanliang067
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
  redis:
    host: 192.168.75.128
    port: 6379
    database: 0
    timeout: 1800000
    lettuce:
      pool:
        max-active: 20
        max-wait: -1
        max-idle: 5
        min-idle: 0
#最大阻塞等待时间(负数表示没限制)

#配置mapper xml文件的路径
mybatis-plus:
    mapper-locations: classpath:com/athuang/educenter/mapper/xml/*.xml
    configuration:
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
# 微信开放平台
wx:
  open:
    app_id: wxed9954c01bb89b47
    app_secret: a7482517235173ddb4083788de60b90e
    redirect_url: http:// localhost:8160/api/ucenter/wx/callback


feign:
  hystrix:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 40000
        readTimeout: 40000

ribbon:
  ReadTimeout: 10000
  ConnectTimeout: 3000


